img{
  max-width: 300px;
  padding: 5px;
}
.title{
  margin-left: 6em;
}
.food{
  max-width: 400;
  float: left;
  margin: 10px 90px auto;
}
.price{
  margin-left: 7.5em;
}
.buy{
  margin-left: 8em;
}
