img{
  max-width: 320px;
  padding: 5px;
}
.title{
  margin-left: 7.5em;
}
.food{
  max-width: 400;
  float: left;
  margin: 10px 20px auto;
}
.price{
  margin-left: 9.5em;
}
.buy{
  margin-left: 10.3em;
}
.button{
  min-width: 10em;
}
