img{
  max-width: 320px;
  padding: 15px;
}
.title{
  margin-left: 6em;
  padding: 10px;
}
.food{
  max-width: 450;
  float: left;
  margin: 20px 20px 20px 20px;
}
.price{
  margin-left: 9em;
  padding: 1em;
  justify-content: center;
}
.buy{
  margin-left: 8.5em;
  padding: 1em;
  justify-content: center;
}
.button{
  min-width: 10em;
}
.container{
  margin-left: 30px;
}
.menu{
  margin-left: 95%;
}
