mat-card {
  max-width: 40%;
  margin: auto;
  margin-top: 2rem;
}
.min-width {
  width: 100%;
  min-width: 150;
}
.full-width {
  margin-top: 10px;
  width: 100%;
}
.account {
  margin-top: -15px;
  margin-left: 10px;
  font-size: smaller;
}
.login{
  font-size: smaller;
}

.footer {
  margin: auto;
  margin-bottom: 30px;
}
.confirm {
  margin: auto;

}
